.vs/BeetleX.Redis/v15/
src/bin/
src/obj/
src/Properties/
PerformanceTest/Properties/
PerformanceTest/bin/
PerformanceTest/obj/
.vs/BeetleX.Redis/DesignTimeBuild/
BeetleX.Redis.Samples/bin/
BeetleX.Redis.Samples/obj/
